# Flask Configuration
FLASK_SECRET_KEY=55ea940beec82d65d7adee1559f35a00bbd63e78aa2bb0ea

# API Keys
# REMOVE_BG_API_KEY=deleted (Using HF instead)
HF_API_TOKEN=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
HF_SPACE_ID=aryan56789raut/my-rembg
HF_API_NAME=/remove_bg
CLOUDINARY_CLOUD_NAME=dbxnafcah
CLOUDINARY_API_KEY=995593527696378
CLOUDINARY_API_SECRET=NoIS-otel3TmIq6N_srCsV8IQyI

# Supabase
SUPABASE_URL=https://nllxqxexwejuwftsdjbl.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5sbHhxeGV4d2VqdXdmdHNkamJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgwNTg3NjUsImV4cCI6MjA5MzYzNDc2NX0.5YsKLjczu6sYn4G_F1lEtcOGhlrzpn-T_RaFf1cxZfI
